<?xml version="1.0" ?>
<launch>
	<!-- Este es el nodo minimo para iniciar el robot movil turtlebot -->
	<include file="$(find turtlebot_bringup)/launch/minimal.launch" />

	<!-- 3D sensor -->
  <arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)"/>
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="false"/>
    <arg name="depth_registration" value="false"/>
    <arg name="depth_processing" value="false"/>
    <arg name="scan_topic" value="/scan"/>
  </include>

</launch>
