<?xml version="1.0" ?>

<launch>
	<!--  ************** Global Parameters ***************  -->
	<param name="/use_sim_time" value="true"/>

	<!--  ************** Stage Simulator ***************  -->
	<node pkg="stage_ros" type="stageros" name="stageros" args="$(find simulacion)/stage/lab.world">
		<remap from="base_scan" to="scan"/>
	</node>

	<!--  ************** Navigation ***************  -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<!-- ********** Costmap Params ********** -->
		<rosparam file="$(find simulacion)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find simulacion)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find simulacion)/cfg/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find simulacion)/cfg/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find simulacion)/cfg/dwa_local_planner_params.yaml" command="load" />
		<!-- ********** Global Planner ********** -->
		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<!-- ********** Local Planner ********** -->
		<param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
		<!-- ********** Freq planner & controller ********** -->		
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />		
		<param name="controller_frequency" value="4.0" />
		<param name="controller_patience" value="12.0" />
	</node>

	<!--  ****** Maps *****  -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find simulacion)/maps/lab.yaml" output="screen">
		<param name="frame_id" value="map"/>
	</node>

	<!--  ****** AMCL *****  -->
	<node pkg="amcl" type="amcl" name="amcl" output="screen">
		<rosparam file="$(find simulacion)/cfg/amcl_params.yaml" command="load" />
		<param name="initial_pose_x" value="14.4"/>
		<param name="initial_pose_y" value="12.0"/>
		<param name="initial_pose_a" value="0.0"/>
	</node>

	<!--  **************** Visualisation ****************  -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find simulacion)/cfg/rviz/rviz_navigation.rviz"/>

</launch>
